#root {

  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
html{
  font-size: 64.5%;
}
.container{
    height: 100vh;
    padding: 20px;
    background: gray;
}
.box{
  background: white;
  max-width: 768px;
  margin: 0 auto;
  padding: 30px;
  color:black;
  font-size: 2rem;
  text-align: left;
}
.guess{
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.guessContent{
  width: 60%;
}
.guessSubmit{
  padding: 0 7px;
}